/* navbar */

.navbar-toggler{
    margin-left: 50px;
}
.menu{
    margin-right: 50px;
}
.nav-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item a{
    transition: 0.5s;
}
.nav-item a:hover{
    letter-spacing: 2px;
}
/* navbar */

/* Fuel Your Body. Balance Your Mind. */

.sec-2 h1{
 font-family: sans-serif;
 font-weight: 500;
}
.sec-2 a button{
    height: 60px;
    width: 220px;
}
.sec-2 a button:hover{
    background-color: #000;
    color: white;
    transition: all ease 0.5s;
}

/* Fuel Your Body. Balance Your Mind. */


@media (min-width:448px) and (max-width:576px) {
    /* navbar */
    .navbar-toggler{
        margin-left: 10px;
    }
    .menu{
        margin-right: 10px;
    }
    /* navbar */

}
@media (min-width:0px) and (max-width:448px) {
    /* navbar */
    .navbar-toggler{
        margin-left: 10px;
    }
    .menu{
        margin: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    /* navbar */
}